### Chain ID
SDK_CONFIG=""

### Seed phrase: first address manages gas, subsequent ones execute orders
SEED_PHRASE=""

### Redis - modify only if you know what you are doing
REDIS_PORT=6379
REDIS_PASSWORD="thisismypassword"

